ENV=local
PORT=8080
# Docker Connection String
DB_URL=postgresql://username:password@docker.for.mac.localhost:5432/critiquefi?sslmode=disable
# Migration Connection String
MIGRATE_DB_URL=postgresql://username:password@localhost/critiquefi?sslmode=disable
ACCESS_TOKEN_TTL=15m
CORS_ORIGIN=http://localhost:3000,https://your-vercel-domain.vercel.app
